#hiddeniframe {
	display: none;
}
.logo-thumbrio {
	background-color: #000;
	width: 100%;
	height: 50px;
}
#webdir-input {
	width: 40%;
}
#subdomain-input {
	width: 12%;
}
.form-table th {
	width: 10%;
}