#hiddeniframe {
	display: none;
}
.logo-thumbrio {
	/*background-color: #222;*/
	max-width: 720px;
	width: 100%;
	height: 1px;
	margin-top: 25px;
	margin-bottom: 10px;
}
.logo-thumbrio img {
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 6px;
	height: 40px;
	float: right;
}
.th-container {
	margin: 20px; 
	width: 100%;
	max-width: 700px;
}
.hide {
	display: none;
}
.th-container p {
	font-size: 15px;
}
.th-container h1 {
	margin-bottom: 35px;
	margin-top: 20px;
}
.show-block {
	display: block;
}
#webdir-input {
	width: 300px;
}
#subdomain-input {
	width: 12%;
}
.form-table th {
	width: 10%;
}
.remark {
	font-weight: bold;
}
.italic {
	font-style: 
}
.th-label-field {
	font-weight: bold;
	text-align: right;
	font-size: 15px;
	width: 200px;
	margin-right: 15px;
}
.th-row-form div {
	display: inline-block;
}
.th-input-field {
	width: 360px;
	font-size: 15px;
	text-align: left;
}
.th-row-form {
	margin: 20px;
}
.th-input-field input {
	width: 100%;
}
#subdomain-input {
	width: 100%;
}
#first-question-menu {
	width: 50%;
}
#first-question-menu > * {
	display: inline-block;
}
#first-question-menu p {
	width: 22%;
}
.th-center {
	margin: auto;
}
.th-center-childs {
	text-align: center;
}
.th-in-field {
	font-size: 17px;
}
.th-w-60 {
	width: 60%;
}
#th-button-container {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}
#th-old-user, #th-new-user {
	display: inline-block;
}
.th-separator {
	min-width: 100px;
	max-width: 150px;
	display: inline-block;
}
#explanation-old, #explanation-new {
	display: none; 
}
#th-admin-loging {
	display: initial;
}
.bold {
	font-weight: bold;
}
p.font-small {
	font-size: 12px;
}
#subdomain {
	font-weight: bold;
}
.th-hidden {
	display: none;
}
.th-inter-button {
	vertical-align: sub;
	text-align: center;
	width:35px;
	display: inline-block;
}